#num {
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;

}

.divNum {
	padding: 0% 2%;
	height: fit-content;
	width: 8%;
	background-color: white;
	margin: auto;
	border-radius: 7px;
	border: 2px solid #395B64;
}

#neg {
	background-color: #fcf2f2;
	box-shadow: 0 0 5px #d40808;
}

#divBtn {
	margin-top: 2%;
	
}

button {
	margin-right: 1%;
	margin-left: 1%;
	font-family: 'Roboto Mono', monospace;
	font-size: 25px;
	border: none;
	background-color: #A5C9CA;
	border-radius: 2px;

}

.btn {
	border-radius: 25px;
	padding: 0.5% 1%;
}

#mas:hover {
	text-shadow: 1px 1px 2px #07b00a;
	box-shadow: 0 0 5px #07b00a;
}

#menos:hover {
	text-shadow: 1px 1px 2px #d40808;
	box-shadow: 0 0 5px #d40808;
}

#start:hover {
	text-shadow: 1px 1px 2px ghostwhite;
	box-shadow: 0 0 5px ghostwhite;
}